{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ {'en':'Categories', 'zh':'分类'}[DEFAULT_LANG] }}{% endblock %}

{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <ol class="breadcrumb">
        <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="active">Categories</li>
    </ol>
    {% endif %}
{% endblock %}

{% block content %}
    <section id="categories">
        <h1>{{ {'en':'Categories for '+SITENAME, 'zh':'文章分类'}[DEFAULT_LANG] }}</h1>
        <ul>
            {% for category, articles in categories %}
                <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
